<form>
  <div class="form-row form-test mx-2">
    <div class="col-12">
      <label class="my-2 mr-2">First Name</label>
      <input type="text" class="form-control" placeholder="First name" />
    </div>
    <div class="col-12">
      <label class="my-2 mr-2">Last Name</label>
      <input type="text" class="form-control" placeholder="Last name" />
    </div>
    <div class="col-12">
      <label class="my-2 mr-2">Login</label>
      <input type="text" class="form-control" placeholder="Login" />
    </div>
    <div class="col-12">
      <label class="my-2 mr-2">Password</label>
      <input
        type="password"
        class="form-control"
        aria-describedby="passwordHelpInline"
        placeholder="******"
      />
    </div>
    <div class="col-12">
      <label class="my-2 mr-2">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        aria-describedby="passwordHelpInline"
        placeholder="******"
      />
    </div>
    <div class="col-12">
      <label class="my-2 mr-2 ">CPF</label>
      <input type="text" class="form-control" placeholder="CPF/CNPJ" />
    </div>
    <div class="col-12 ">
      <label class="my-2 mr-2">Groups</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1">
          Administrators
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1">
          Others
        </label>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1" class="my-2 mr-2">Signature</label>
        <input type="file" />
      </div>
    </div>
  </div>
</form>
